<div class="upper-background"></div>
<div class="container">
    <div class="d-flex flex-row justify-content-space-between align-items-center">
        <h1 class="brand-title">TODO</h1>
        <div><img width="20" height="20" src="assets/icon-moon.svg" alt=""></div>
    </div>
    <div class="d-flex flex-row justify-content-space-between align-items-center">
        <div class="task mt-1 br-1">
            <div class="checkbox"></div>
            <input type="text" placeholder="Create a new todo...">
        </div>
    </div>
    <div class="d-flex flex-column mt-2">
        <div class="task done bb-1 br-1">
            <div class="checkbox d-flex align-items-center justify-content-center">
                <img width="10" height="8" src="assets/icon-check.svg" alt="">
            </div>
            <!-- <input type="text" placeholder="Create a new todo..."> -->
            <span>Complete online JavaScript course</span>
            <img width="12" height="12" class="ml-auto" src="assets/icon-cross.svg" alt="">
        </div>
        <div class="task bb-1">
            <div class="checkbox"></div>
            <span>Jog around the park 3x</span>
            <img width="12" height="12" class="ml-auto" src="assets/icon-cross.svg" alt="">
        </div>
        <div class="task bb-1">
            <div class="checkbox"></div>
            <input type="text" placeholder="Create a new todo...">
            <img width="12" height="12" class="ml-auto" src="assets/icon-cross.svg" alt="">
        </div>
        <div class="task bb-1">
            <div class="checkbox"></div>
            <input type="text" placeholder="Create a new todo...">
            <img width="12" height="12" class="ml-auto" src="assets/icon-cross.svg" alt="">
        </div>
        <div class="task bb-1">
            <div class="checkbox"></div>
            <input type="text" placeholder="Create a new todo...">
            <img width="12" height="12" class="ml-auto" src="assets/icon-cross.svg" alt="">
        </div>
        <div class="task bb-1">
            <div class="checkbox"></div>
            <input type="text" placeholder="Create a new todo...">
            <img width="12" height="12" class="ml-auto" src="assets/icon-cross.svg" alt="">
        </div>
        <div class="task justify-content-space-between total-text">
            <span class="ml-0">5 items left</span>
            <span>Clear Completed</span>
        </div>
    </div>
    <div class="tabs mt-2">
        <div class="tab active">All</div>
        <div class="tab">Active</div>
        <div class="tab">Completed</div>
    </div>
    <div class="drag-info mt-3">Drag and drop to reorder list</div>
</div>
